.Julio-foto, .DanielD-foto, .Anny-foto {
    display: inline-block;
    border-radius: 100px!important;
    border: 0.2rem solid rgb(255, 255, 255)!important;
    max-width: 10rem!important;
    margin-bottom: 10px;
}

.Julio, .DanielD, .Anny{
    display: flex;
    align-items: center;
}
   
.bio{
    padding: 10px;
}

/* Função para a barra lateral com as redes sociais só aparecer quando a tela ter mais que 670px de largura*/
@media only screen and (max-width: 670px){
    .ssb-btns-left.ssb-anim-slide{
        display: none!important;
    }
}

@media only screen and (max-width: 600px){
    .Julio, .DanielD, .Anny{
        display:contents;
    }
}